#home-offers {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 1200px;
    height: 150px;
    border: 2px solid #fff159;
    transition: border-width 0.2s linear;
  }

  img:hover {
    cursor: pointer;
    border-width: 5px;
  }
}
