.loadPage {
  color: #fff159;
  padding: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@import "./pages/welcome/index";
@import "./pages/home/index";
@import "./pages/assets/index";
@import "./pages/about-us/index";
@import "./pages/contact-us/index";
@import "./pages/product/index";
@import "./pages/products/index";
@import "./pages/404";
