.loadPage {
  color: #fff159;
  padding: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#welcome {
  height: 100vh;
}

#welcome-header {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 225px;
  color: #ffffff;
  background-color: #fff159;
  width: 100%;
}
#welcome-header h6 {
  text-transform: uppercase;
}
#welcome-header h6 .logo {
  width: 150px;
  height: 150px;
}

@media (max-width: 768px) {
  #welcome-header h6 .logo {
    width: 100px;
    height: 100px;
  }
}
#welcome-enter {
  padding-top: 140px;
}
#welcome-enter .enter-main {
  background-color: #ffffff;
  border: 1px solid #05336c;
  border-radius: 5px;
}
#welcome-enter .enter-main h3 {
  font-weight: 100;
}
#welcome-enter .enter-main h6 {
  font-weight: 100;
}
#welcome-enter .enter-main h6 strong {
  color: #05336c;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 768px) {
  #welcome-enter {
    padding-top: 100px;
  }
}
#welcome-tutorial {
  padding-bottom: 50px;
  background: #f9f9fa;
  text-align: center;
}
#welcome-tutorial h3 {
  padding-bottom: 0 !important;
  font-weight: 100;
}
#welcome-tutorial p {
  color: #05336c;
}
#welcome-tutorial iframe {
  border-radius: 20px;
}

@media (max-width: 768px) {
  #welcome-tutorial iframe {
    width: 300px;
    height: 250px;
  }
}
#welcome-formlogin {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#welcome-formlogin .form-floating {
  width: 600px;
}
#welcome-formlogin .form-floating input:focus {
  box-shadow: none;
  border-color: #fff159;
}
#welcome-formlogin button {
  font-weight: bold;
}

@media (max-width: 768px) {
  #welcome-formlogin .form-floating {
    width: 300px;
  }
}
#home-banner {
  display: flex;
  height: 400px;
  background-color: #e3e3e3;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}
#home-banner .banner-text {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
#home-banner .banner-text h6 {
  color: grey;
}
#home-banner .banner-text button {
  text-transform: uppercase;
  background-color: #fff159;
  border-color: black;
  padding: 30px;
}
#home-banner .banner-text button:hover {
  background-color: black;
  border-color: #e3e3e3;
  color: #e3e3e3;
  transition: 0.4s;
}
#home-banner .banner-img img {
  float: right;
}

#home-offers {
  display: flex;
  align-items: center;
  justify-content: center;
}
#home-offers img {
  width: 1200px;
  height: 150px;
  border: 2px solid #fff159;
  transition: border-width 0.2s linear;
}
#home-offers img:hover {
  cursor: pointer;
  border-width: 5px;
}

#home-newArrivals {
  font-family: Arial, Helvetica, sans-serif;
}
#home-newArrivals a,
#home-newArrivals a:hover {
  text-decoration: none;
  color: inherit;
}
#home-newArrivals .section-products {
  padding: 60px 0 50px;
}
#home-newArrivals .section-products .header {
  margin-bottom: 25px;
  text-align: left;
}
#home-newArrivals .section-products .header h2 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #444444;
}
#home-newArrivals .section-products .header h2 span {
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-thickness: 5px;
  text-decoration-color: #fff159;
}
#home-newArrivals .section-products .single-product {
  margin-bottom: 26px;
  background-color: #e3e3e3;
}
#home-newArrivals .section-products .single-product:hover {
  transition: 0.4s;
  box-shadow: 12px 12px 5px #676767;
  cursor: pointer;
}
#home-newArrivals .section-products .single-product .part-1 {
  position: relative;
  height: 290px;
  max-height: 290px;
  margin-bottom: 20px;
  overflow: hidden;
  border: 1px solid gray;
  border-width: 0 0 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home-newArrivals .section-products .single-product .part-1 .preorder {
  text-transform: uppercase;
  height: 20px;
  width: 200px;
  margin-top: auto;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home-newArrivals .section-products .single-product .part-2 {
  margin-left: 10px;
}
#home-newArrivals .section-products .single-product .part-2 .product-title {
  font-size: 1rem;
  font-weight: bold;
}
#home-newArrivals .section-products .single-product .part-2 h4 {
  display: inline-block;
  font-size: 1rem;
}

#home-header .logo {
  width: 90px;
  height: 90px;
}
#home-header .search {
  display: flex;
  align-items: center;
}
#home-header .search form {
  display: flex;
  flex-direction: row;
}
#home-header .search form input {
  width: 400px;
  border-color: #e3e3e3;
  border-radius: 0;
}
#home-header .search form input:focus {
  border-color: #e3e3e3;
  box-shadow: 1px 1px 25px #fff159;
}
#home-header .search form button {
  color: black;
  background-color: #fff159;
  border-color: #e3e3e3;
  border-radius: 0;
  border-style: solid;
  border-width: 1px 1px 1px 0;
}
#home-header .search form button span {
  font-size: 1.4rem;
}
#home-header .search form button:hover {
  background-color: black;
  color: #e3e3e3;
  transition: 0.4s;
}
#home-header .icons {
  display: flex;
  align-items: center;
  font-size: 2rem;
}
#home-header .icons .icon {
  margin-right: 20px;
}
#home-header .icons .icon:last-of-type {
  margin-right: 0;
}
#home-header .icons .icon:hover {
  transition: 0.4s;
  cursor: pointer;
  color: #fff159;
}
#home-header .icons .badge {
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 9px;
}
#home-header .icons #lblCartCount {
  font-size: 12px;
  background: #fff159;
  color: black;
  padding: 5px;
  vertical-align: top;
  margin-left: -10px;
}

#home-navbar {
  background-color: #fff159;
}
#home-navbar ul li {
  margin-right: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
#home-navbar ul li:last-of-type {
  margin-right: 0;
}
#home-navbar .info {
  font-weight: 200;
}
#home-navbar .info span {
  font-size: 1.5rem;
}

footer {
  padding: 50px;
  background-color: #fff159;
  text-align: center;
}

#footer-details {
  background-color: #e3e3e3;
  color: grey;
}
#footer-details .information .contact {
  list-style: none;
}
#footer-details .information .contact li {
  margin-top: 5px;
}
#footer-details .information .contact li span {
  font-size: 1.2rem;
}
#footer-details .information .payment {
  list-style: none;
  display: flex;
  flex-direction: row;
}
#footer-details .information .payment li {
  margin-right: 30px;
  font-size: 2.5rem;
}
#footer-details .signup h6 {
  color: black;
}
#footer-details .signup form {
  display: flex;
  flex-direction: row;
}
#footer-details .signup form input {
  width: 250px;
  border-color: #e3e3e3;
  border-radius: 0;
}
#footer-details .signup form input:focus {
  border-color: #e3e3e3;
  box-shadow: none;
}
#footer-details .signup form button {
  color: black;
  background-color: #fff159;
  border-color: #e3e3e3;
  border-radius: 0;
  border-style: solid;
  border-width: 1px 1px 1px 0;
}
#footer-details .signup form button span {
  font-size: 1.4rem;
}
#footer-details .signup form button:hover {
  background-color: black;
  color: #e3e3e3;
  transition: 0.4s;
}

#header-cart .no-products span {
  font-size: 5rem;
  color: #d90707;
}
#header-cart .no-products h5 {
  color: #d90707;
  text-transform: uppercase;
}
#header-cart .with-products {
  font-family: Arial, Helvetica, sans-serif;
}
#header-cart .with-products .price {
  font-weight: bold;
}
#header-cart .with-products .badge {
  cursor: pointer;
}
#header-cart .with-products .btn {
  width: 100%;
}

#aboutus-information .col p {
  color: grey;
}
#aboutus-information .img {
  display: flex;
  flex-direction: column;
  color: grey;
}
#aboutus-information .img img {
  width: 500px;
  height: 450px;
  border-radius: 5px;
}

#contactUs-formContact .fullName {
  display: flex;
  flex-direction: row;
}
#contactUs-formContact .fullName .form-floating {
  margin-right: 50px;
}
#contactUs-formContact .fullName .form-floating:last-of-type {
  margin-right: 0;
}
#contactUs-formContact input {
  width: 400px;
}
#contactUs-formContact input:focus {
  box-shadow: none;
  border: 2px solid grey;
}
#contactUs-formContact textarea {
  resize: none;
  height: 120px;
}
#contactUs-formContact textarea:focus {
  box-shadow: none;
  border: 2px solid grey;
}
#contactUs-formContact button {
  color: black;
  background-color: #fff159;
  border-color: #e3e3e3;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
}
#contactUs-formContact button span {
  font-size: 1.4rem;
}
#contactUs-formContact button:hover {
  background-color: black;
  color: #e3e3e3;
  transition: 0.4s;
}

#product-description {
  font-family: Arial, Helvetica, sans-serif;
}
#product-description .card {
  border: none;
  overflow: hidden;
}
#product-description .thumbnail_images ul {
  list-style: none;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
#product-description .thumbnail_images ul li {
  margin: 5px;
  padding: 10px;
  border: 2px solid #eee;
  cursor: pointer;
  transition: all 0.5s;
}
#product-description .thumbnail_images ul li:hover {
  border: 2px solid #fff159;
}
#product-description .main_image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
  height: 400px;
  width: 100%;
  overflow: hidden;
}
#product-description .main_image img {
  margin-bottom: 20px;
}
#product-description .content p {
  font-size: 12px;
}
#product-description .ratings span {
  font-size: 14px;
  margin-left: 12px;
}
#product-description .colors {
  margin-top: 5px;
}
#product-description .colors ul {
  list-style: none;
  display: flex;
  padding-left: 0px;
}
#product-description .colors ul li {
  height: 20px;
  width: 20px;
  display: flex;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
#product-description h2 {
  font-weight: bold;
}
#product-description button {
  color: white;
  background-color: #fff159;
  border-color: #e3e3e3;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  padding: 2px 25px;
  font-weight: bold;
  text-transform: uppercase;
}
#product-description button span {
  font-size: 1.4rem;
}
#product-description button:hover {
  background-color: black;
  color: #e3e3e3;
  transition: 0.4s;
}
#product-description .quantity {
  width: 200px;
  text-align: center;
  width: 100%;
}
#product-description .quantity .with-stock {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#product-description .quantity .with-stock .form-group {
  margin-right: 30px;
}
#product-description .quantity .with-stock .form-group select {
  text-align: center;
  width: 200px;
}
#product-description .quantity .with-stock .form-group select:focus {
  border-color: black;
  box-shadow: none;
}
#product-description .quantity .with-stock .btn {
  padding: 12px 30px;
}
#product-description .quantity small {
  text-transform: uppercase;
  font-style: italic;
}

#productCard-items a,
#productCard-items a:hover {
  text-decoration: none;
  color: inherit;
}
#productCard-items .section-products {
  padding: 60px 0 50px;
}
#productCard-items .section-products .sort {
  text-transform: uppercase;
}
#productCard-items .section-products .sort label {
  background-color: #fff159;
  font-weight: bold;
}
#productCard-items .section-products .sort select {
  text-transform: capitalize;
}
#productCard-items .section-products .sort select:focus {
  box-shadow: none;
  border-color: #444444;
}
#productCard-items .section-products .header {
  margin-bottom: 25px;
  text-align: left;
}
#productCard-items .section-products .header h2 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
  font-weight: bold;
}
#productCard-items .section-products .header h2 span {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  text-decoration-color: #fff159;
}
#productCard-items .section-products .single-product {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 26px;
  background-color: #e3e3e3;
}
#productCard-items .section-products .single-product:hover {
  transition: 0.4s;
  box-shadow: 12px 12px 5px #676767;
  cursor: pointer;
}
#productCard-items .section-products .single-product .part-1 {
  position: relative;
  height: 290px;
  max-height: 290px;
  margin-bottom: 20px;
  overflow: hidden;
  border: 1px solid gray;
  border-width: 0 0 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#productCard-items .section-products .single-product .part-1 .preorder {
  text-transform: uppercase;
  height: 20px;
  width: 200px;
  margin-top: auto;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
#productCard-items .section-products .single-product .part-2 {
  margin-left: 10px;
}
#productCard-items .section-products .single-product .part-2 .product-title {
  font-size: 1rem;
  font-weight: bold;
}
#productCard-items .section-products .single-product .part-2 h4 {
  display: inline-block;
  font-size: 1rem;
}

#not_found {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#not_found h1 {
  font-size: 5rem;
  color: #fff159;
}
#not_found h3 {
  font-size: 3rem;
  color: grey;
}/*# sourceMappingURL=app.css.map */